@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Definir variables de color */
:root{
  --color-primary: #235fa0; 
  --color-secondary: #28a745; 
  --color-Black: #111111; 
  --color-bg: #eef2f4; 
}
/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif; /* Utilizar Roboto como fuente principal */
  color: #111111; 
  background-color: #eef2f4; 
  margin: 7px;
  padding: 7px;
}

/* Estilos para el encabezado */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  padding-left: 250px;   
}

.logo {
  max-width: 170px; /* Tamaño máximo del logo */ 
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 10px; /* */
  align-items: center;
  margin-top: 2px;
}

nav a {
  color: #235fa0; /* Enlaces azules */
  font-weight: 800; /* Negrita */
  text-decoration: none; /* Sin subrayado */
  margin: 0 3px; /* Espaciado entre enlaces */
  font-size: 1.2rem; /* Tamaño de fuente */
  padding: 4px; /* Ajuste de relleno */
  margin-right: 3cm; /* Ajuste para alejar los enlaces del logo */
}

  nav a:hover {
    color: #0c76e0; /* Cambia el color del enlace cuando se pasa el mouse sobre él */
    font-size: 1.3rem; /* Puedes ajustar el tamaño de fuente al pasar el mouse */
  }
  
  nav a:active {
    transform: scale(1.1); /* Aumenta el tamaño del enlace cuando está activo */
  }

.hero {
  position: relative;
  text-align: center;
  font-weight: 900;
}

.hero img {
  max-width: 50%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: -14%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.9em;
}

.welcome-container {
  display: flex;
  align-items: center; 
}

.welcome-text {
  flex: 1; 
  margin-right: 20px;
  font-size: 3.9em;
  margin-top: 4px; 
}

.header-container {
 display: grid;
 grid-template-columns: 2fr 1fr 1fr;
 /*grid-gap: 5px;*/
 /*gap: 10px;*/
 align-items: center; 
 column-gap: 10px;
 margin-left: 10px;
 } 

.hero-container {
  display: grid;
  grid-template-columns: 100px 100px;
  /*gap: 20px;*/
  /*grid-gap: 20px;*/

}

.logo-container img {
  max-width: 250px;
  margin-left: auto;
  margin-right: 100px;
}

.nav-item {
  display: inline-block;
  margin: 0;
  margin-right: 5px; 
  grid-template-rows: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-column: 1/span 4;
  /*grid-gap: 1px;*/
  /*justify-items: center;*/ 
  padding: 1px;
}

.nav-item a {
  display: block;
  padding: 1px;
  font-size: 26px;
}

.welcome-image {
  display: grid;
  text-align: left; 
  margin-left: 21px;
}

.welcome-image img {
  max-width: 1000px; 
  height: auto;
  width: 500px;
  transform: scale(1.1);
}

.imagen-de-hero {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.imagen-de-hero img {
  max-width: 50%;
  height: auto;
}

.welcome-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /*gap: 20px;*/
  align-items:flex-start;
}

.hero {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.imagen-de-hero img {
  max-width: 50%; 
  height: auto;
}

main {
  max-width: 1000px; 
  margin: 0 auto; 
}

article, section {
  margin-bottom: 30px; 
}

section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }
  
h2 {
  color: #235fa0; 
  font-size: 33pt;

}

footer {
  background-color: #9ac4f1; 
  text-align: center; 
  padding: 30px;
}

footer {
  text-align: center; 
  padding: 30px;
}

.sociallinks {
  margin-top: 10px; 
  text-align: right; 
}

.sociallinks a {
  margin-left: 10px; 
}

.sociallinks img {
  width: 32px; 
  height: auto;
}

.slider-heading {
  position: absolute;
  text-align: center;
  top: 39.5cm; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 23; 
  color: #235fa0; 
  font-size: 32px;    
}

main {
  margin-top: 1.0cm; 
}


footer {
  margin-top: 1cm; 
  text-align: center;
}


#slider {
  margin-top: 2.50cm; 
  
}

.contenedor-hero {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

.contenedor-hero h1{  
  font-size: 29px;
  text-align: center; 
}

.hero-content {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 
  margin-top:1%;
}

.imagen-de-hero {
  flex: 1;
  margin-right: 20px;
}

.imagen-de-hero img {
  max-width: 100%; 
  height: auto;
  border-radius: 10px;
}

.text-container {
  flex: 1; 
  margin-left: 20px; 
}
 .contenedor-hero h1 {
  text-align: center;
 }

.titulo-hero {
  margin-top: 1px;
  top: 1px;
}
.titulo-hero h1 {
  font-size: 39px;
  color: #235fa0;
}


.history-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content,
.right-content {
  flex: 1;
}

.middle-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%; 
  height: auto;
}
.middle-content img {
  max-width: 80% !important; 
  height: auto; 
  border-radius: 10px;
}


#slider {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 50px; 
}

.slider-heading {
  text-align: center; 
  margin-bottom: 20px;
}

.slider-images {
  display: flex;
  justify-content: center;  
}

.slider-images img {
  width: 265px; 
  height: 265px; 
  border-radius: 10px;
}

h1 strong {
  color:#235fa0; 
}

.imagen-de-hero img,
.middle-content img,
.slider-images img {
  transition: transform 0.3s ease; 
}

.imagen-de-hero img:hover,
.middle-content img:hover,
.slider-images img:hover {
  transform: scale(1.1); 
}

.sociallinks img {
  transition: transform 0.3s ease;
}

.sociallinks img:hover {
  transform: scale(1.5); 
}

/* contact us  */
/*             */







/* Additional CSS for Styling */

body {
  padding-top: 8px;
  font-family: 'Arial', sans-serif;
  background-image: url('/wwr/images/fondo.jpg');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  }
  


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 350;
  font-size: 60px;
  color: #235fa0;
  text-align: center;
  font-weight: bold;
  
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #235fa0;
  line-height: 1.5;
  text-align: center;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
      width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width: 100%;
      float: none;
      text-align: center;
  }
}

input[type=checkbox] + label {
  color: #171616;
  font-style: italic;
  font-size: 13px;
}

input[type=checkbox]:checked + label {
  color: rgba(255, 157, 0, 0.907);
  font-style: normal;
}

/* Styling for Purpose Options */
.purpose-options {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  margin-top: 10px;
}

.purpose-options label {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2d2d2d;
  color: rgb(238, 231, 231);
  font-size: 14px;
  margin: 0 7px; /* Añade un pequeño margen entre las etiquetas */
  width: 170px; /* Ancho deseado para las cajas */
  text-align: center;

}

.purpose-options label:hover {
  background-color: #4b8cfb;
  
}

.submit-btn {
  padding: 12px 35px;
  border-radius: 60px;
  background-color: #4b8cfb;
  color: white;
  font-size: 23px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  transition: all 300ms ease;
  margin-left: 10px;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}


.text-center {
  text-align: center; 
  margin-top: 20px; 
}
.checkbox-container {
  display: flex;
  align-items: center; 
}

.checkbox-container input[type="checkbox"] {
  margin-right: 1px; 
  margin-left: 20px;
}

.employee-profile {
  text-align: center;
  margin-bottom: 30px;
}

.employee-profile img {
  border-radius: 50%; 
  width: 150px; 
  height: 150px;
  object-fit: cover; 
  margin-bottom: 15px;
}

.employee-profile p {
  font-size: 17px;
  margin-bottom: 8px;
  color:black;
  font-weight: bold; 
}

.row {
  display: flex;
  justify-content: space-around; 
}

.col-md-4 {
  flex-basis: 30%; 
}
.container a {
  color: #235fa0; 
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline; 
}
.contact-info p {
  color: #235fa0; 
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff,  
                1px -1px 0 #fff,  
               -1px 1px 0 #fff,  
               1px 1px 0 #fff;
  font-size: 20px;
}
body {
  background-image: url('/wwr/images/fondo.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
